name: Deploy Next.js to GitHub Pages

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install
        working-directory: ./landing

      - name: Build project
        run: npm run build
        working-directory: ./landing

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./landing/out

  deploy:
    runs-on: ubuntu-latest
    needs: build

    permissions:
      pages: write
      id-token: write

    steps:
      - name: Deploy artifact
        uses: actions/deploy-pages@v4
